<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dao.TouziDao">
    <!-- 社会效益 -->
    <select id="selectSHXY" resultType="com.lin.domain.ResultData">
        select element_name, value from data_view where model_name='社会效益' and orgno=#{selectArea,jdbcType=VARCHAR} and update_time=#{selectTime,jdbcType=VARCHAR} order by element_name
    </select>
    <!-- 企业效益 -->
    <select id="selectQYXY" resultType="com.lin.domain.ResultData">
        select element_name, value from data_view where model_name='企业效益' and orgno=#{selectArea,jdbcType=VARCHAR} and update_time=#{selectTime,jdbcType=VARCHAR} order by element_name
    </select>
    <!-- 运维成本 -->
    <select id="selectYWCB" resultType="com.lin.domain.ResultData">
        select element_name, value from data_view where model_name='投入成本' and orgno=#{selectArea,jdbcType=VARCHAR} and update_time=#{selectTime,jdbcType=VARCHAR} order by element_name
    </select>
    <!-- 类别1的效益数据查询 -->
    <select id="select_benefit_class1" resultType="com.lin.domain.ValueNumber">
        select value from data_view where element_name=#{searchName,jdbcType=VARCHAR} and orgno in('37405','37411','37412','37415','37417') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
    <!-- 类别2的效益数据查询 -->
    <select id="select_benefit_class2" resultType="com.lin.domain.ValueNumber">
        select value from data_view where element_name=#{searchName,jdbcType=VARCHAR} and orgno in('37402','37403','37404','37410') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
    <!-- 类别3的效益数据查询 -->
    <select id="select_benefit_class3" resultType="com.lin.domain.ValueNumber">
        select value from data_view where element_name=#{searchName,jdbcType=VARCHAR} and orgno in('37401','37406','37407','37408','37409','37413','37414','37416') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
    <!-- 类别1的投入产出比数据 -->
    <select id="benifit_cost_class1" resultType="com.lin.domain.ValueNumber">
        select trunc(b.benefit/c.cost,3) as value from ( select orgno, sum(value) as benefit from data_view where element_name in
        <foreach collection="benifit" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37405','37411','37412','37415','37417') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno ) b, (select orgno, sum(value) as cost from data_view where element_name in
        <foreach collection="cost" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37405','37411','37412','37415','37417') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno) c where b.orgno=c.orgno
    </select>
    <!-- 投入产出比查询的数据，柱状图显示，按类别 -->
    <select id="benifit_cost_select" resultType="com.lin.domain.ValueNumber">
        select value from data_view where element_name in
        <foreach collection="selectElement" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno=#{selectArea,jdbcType=VARCHAR} order by element_name
    </select>
    <!-- 类别2的投入产出比数据 -->
    <select id="benifit_cost_class2" resultType="com.lin.domain.ValueNumber">
        select trunc(b.benefit/c.cost,3) as value from ( select orgno, sum(value) as benefit from data_view where element_name in
        <foreach collection="benifit" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37402','37403','37404','37410') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno ) b, (select orgno, sum(value) as cost from data_view where element_name in
        <foreach collection="cost" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37402','37403','37404','37410') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno) c where b.orgno=c.orgno
    </select>
    <!-- 类别3的投入产出比数据 -->
    <select id="benifit_cost_class3" resultType="com.lin.domain.ValueNumber">
        select trunc(b.benefit/c.cost,3) as value from ( select orgno, sum(value) as benefit from data_view where element_name in
        <foreach collection="benifit" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37401','37406','37407','37408','37409','37413','37414','37416') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno ) b, (select orgno, sum(value) as cost from data_view where element_name in
        <foreach collection="cost" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and orgno in('37401','37406','37407','37408','37409','37413','37414','37416') and update_time=#{selectTime,jdbcType=VARCHAR} group by orgno order by orgno) c where b.orgno=c.orgno
    </select>
    <!-- 查询关联分析比值的通用公式-->
    <select id="benifit_link_cost1" resultType="com.lin.domain.ValueNumber">
        select value from value_link where element_name=#{selectElement,jdbcType=VARCHAR} and orgno in('37405','37411','37412','37415','37417') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
    <select id="benifit_link_cost2" resultType="com.lin.domain.ValueNumber">
        select value from value_link where element_name=#{selectElement,jdbcType=VARCHAR} and orgno in('37402','37403','37404','37410') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
    <select id="benifit_link_cost3" resultType="com.lin.domain.ValueNumber">
        select value from value_link where element_name=#{selectElement,jdbcType=VARCHAR} and orgno in('37401','37406','37407','37408','37409','37413','37414','37416') and update_time=#{selectTime,jdbcType=VARCHAR} order by orgno
    </select>
</mapper>